# Geant4 build files
build/
geant4-build/
geant4-install/
CMakeFiles/
CMakeCache.txt
Makefile
*.cmake
*.o
*.so
*.dylib
*.a
*.out
*.exe

# Qt user data
*.autosave

# Visualizzazione
*.png
*.jpg
*.pdf

# Mac-specifici
.DS_Store


